@font-face {
    font-family: Luciole;
    font-weight: 400;
    font-style: normal;
    src: local("Luciole Regular"),local("Luciole-Regular"),url(./fonts/Luciole-Regular.woff2) format("woff2"),url(./fonts/Luciole-Regular.woff) format("woff");
}

@font-face {
    font-family: Luciole;
    font-weight: 400;
    font-style: italic;
    src: local("Luciole Italic"),local("Luciole-Italic"),url(./fonts/Luciole-Italic.woff2) format("woff2"),url(./fonts/Luciole-Italic.woff) format("woff");
}

@font-face {
    font-family: Luciole;
    font-weight: 600;
    font-style: normal;
    src: local("Luciole Bold"),local("Luciole-Bold"),url(./fonts/Luciole-Bold.woff2) format("woff2"),url(./fonts/Luciole-Bold.woff) format("woff");
}

@font-face {
    font-family: Luciole;
    font-weight: 600;
    font-style: italic;
    src: local("Luciole Bold Italic"),local("Luciole-BoldItalic"),url(./fonts/Luciole-BoldItalic.woff2) format("woff2"),url(./fonts/Luciole-BoldItalic.woff) format("woff");
}
